@using Angula2BaseStructure.Infrastructure.Extensions
<ul id="url-resources" style="display: none">
    <li id="auth-url">@Url.ApiUrl("Auth")</li>
    <li id="logs-url">@Url.ApiUrl("Logs")</li>
    <li id="dorm-url">@Url.ApiUrl("Dorm")</li>
    <li id="student-register-url">@Url.ApiUrl("StudentRegister")</li>
    <li id="cazare-student-url">@Url.ApiUrl("CazareStudent")</li>
    <li id="cazare-url">@Url.ApiUrl("Cazare")</li>
</ul>